
/* reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Không cần tính toán khi padding và margin*/
    --heightheader:46px;

    
}
html{
    font-family:Arial, Helvetica, sans-serif;
    /* font chữ ni bỏ gạch chân */
    scroll-behavior: smooth;
}
/* common */

.clear{
    clear:both
}
.text_center{
    text-align: center;
}

.row{
    margin-left: -16px;
    margin-right: -16px;
}
.row::after{
    content:"";
    display:block;
    clear:both;
}
.mt_8{
    margin-top: 8px;
}
.pad_16{
    padding-right:16px ;
}

/* tạo column */
.col{
    padding-left: 8px;
    padding-right: 8px;
    float: left;
}
.col_full{
    width:100%;
}
.col_half{
    width: 50%;
}

.col_third{
    width: calc(100%/3);
}
/* end_ common */
#main{

}

#header{
 width:100%;
 height:var(--heightheader);
 background-color: #000;
 top: 0;
 position: fixed;
 z-index: 1;

}
#nav{
    display: inline-block;
}
#nav >li{
    display:inline-block; 

}

#nav li {
    position: relative;
    list-style-type: none;
    
    
}
#nav >li>a{
    color:#fff;
    text-transform: uppercase;

}

#nav li a{
    text-decoration: none;
    display:block;
    padding:0 24px;  
    line-height:var(--heightheader);
}
#nav >li:hover >a,
#nav #subnav li:hover a{
    /*note chỗ ni viết gọp  */
    /* hover vào li thì thẻ a con của li được hover */
    color:#000;
    background-color: #ccc;
}

#nav #subnav{
    display:none;
    position:absolute;
    top:var(--heightheader);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
#nav #subnav a{
    padding:0 12px;
    line-height: 38px;
    color: #000;
}
#nav li:hover #subnav{
    display: block;
}
.icon-arrow{
    font-size: 14px;
}
#header .button_search{
float: right;
}
#header .search_icon{
font-size: 20px;
color: #fff;
line-height: var(--heightheader);
padding: 0 21px;
}
#header .button_search:hover{
    background-color: #f44336;
    cursor: pointer;
}
 /* #nav #subnav li:hover a{
    color:#000;
    background-color: #ccc;
 } */

#slider{
position: relative;
margin-top: var(--heightheader);
padding-top: 50%;
/* để tách header ra vì header dùng position:fixed bị nổi lên tầng trên */
background: url(./img/slide3.jpg) top center/cover no-repeat;

}
#slider .heading1{
    color: #fff;
    position: absolute;
    bottom: 32px;
    width: 100%;
    text-align: center;
    /*cách 2: dùng transform  */
    font-weight: 500;

}
#slider .content1{
    font-size: 24px;
    margin: 10px 0;
    
}
#slider .content2{
    font-size: 15px;
    margin: 15px 0;
}
#content{

}
#content .content_section{
    max-width: 800px;
    padding: 64px 16px;
    margin-right: auto;
    margin-left: auto;
    
}
#content .content_heading{
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    letter-spacing: 1px;

}
#content .content_sub_heading{
    text-align: center;
    margin: 15px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.5;
   

}
#content .about{
 margin: 15px 0;
 text-align: justify;
 font-size: 15px;
 line-height: 1.4;
}
#content .list_member{
text-align: center;
padding: 32px 0;
}

#content .col p {
font-size: 15px;
margin: 15px 0;
}
#content .img_name{
    margin-bottom: 16px;
    width: 134px;
    border-radius: 4px;
}
#content .tour{
    background-color: #000;
}
#content .tour .content_heading,
#content .tour .content_sub_heading{
color: #ccc;
}
.table_ticket{
    background-color: #fff;
}
.table_ticket .month{
padding: 8px 16px;
font-size: 15px;
color:rgba(0, 0, 0, 0.5);
border-bottom: 1px solid #ddd;
}
.table_ticket .month .item_month{
    margin-left: 16px;
    padding: 0 8px;
    color: #fff;
    background-color: #F44336;
}
.table_ticket .month .number{
    float: right;
    color: #fff;
    padding: 2px 8px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 16px;  
}
.place{
padding: 32px 8px;
/* margin: 0 -16px; */
margin-bottom: 16px;
}

.place .img_place{
width: 100%;
display: block;
}
.place .img_place:hover{
    opacity: 0.5;
}
.place .place_content{
background-color: #fff;
padding: 0 16px;
font-size: 15px;
}
.place .place_nav{
padding: 15px 0;
font-weight: 700;
}
.place .time_nav{
margin-bottom: 15px;
opacity: 0.5;
}
.place .content_nav{
    padding-bottom: 15px;
    line-height: 1.4;

}
.place .button_buy{
display: inline-block;
padding: 8px 16px;
color:#fff;
background-color: #000;
text-decoration: none;
margin-bottom: 16px;
border: none;

}
.place .button_buy:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.modal.open{
    display: inline-block;
}
.modal{
    --greencolor: #009688;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: none;
    
}

.modal .buy_ticket {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;    
}
.modal .buy_ticket .header{
    height: 130px;
    background-color: var(--greencolor);
    display: flex;
    color: #fff;
    position: relative;
}
.header .close_ticket{
    
    position: absolute;
    right:0;
    padding: 8px 16px;
}

.buy_ticket .header .content_header{
   margin: auto;
   font-size: 30px;
   font-weight: 500;
   letter-spacing: 4px;
   display: inline-block;
}

.content_buy_ticket{
    padding: 0 16px;
    background-color: #fff;
}
.content_buy_ticket .input_buy_ticket .item1{
padding: 15px 0;
}
.content_buy_ticket .input_buy_ticket .textitem1{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border:1px solid #ccc;
}
.content_buy_ticket .button_pay{
    margin: 16px 0;
    padding: 16px;
    width: 100%;
    background-color: var(--greencolor);
    font-size: 15px;
    color: #fff;
    border: none;
}
.footer_buy_ticket .close_buy_ticket{
    margin: 16px 0;
    padding: 8px 16px;
    font-size: 15px;
    background-color: #F44336;
    color: #fff;
    border: none;
}
.footer_buy_ticket .help_buy_ticket{
    float: right;
    margin: 16px 0;
    padding: 8px 16px;
}
.header .close_ticket:hover,
.content_buy_ticket .button_pay:hover,
.footer_buy_ticket .close_buy_ticket:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.contact{
    padding:  32px 0;
}

.contact_form{
 font-size: 15px;
 
 
}
.contact_input{
   padding: 10px;
   width:100%;
   font-size: 15px;
    
}
.button_send{
padding: 8px 16px;
margin-top: 16px;
color: #fff;
background-color: #000;
border: none;
font-size: 15px;
float: right;
margin-right: 8px;
}

.img_map{
    width:100%;
}
#footer{
    text-align: center;
    padding: 64px 16px;
    color: rgba(0, 0, 0, 0.8);
}
#footer .icon_footer{
    font-size: 24px;
}
#footer .end_page{
   margin: 15px;
}
#footer .end_page a{
    color: rgba(0, 0, 0, 0.8);
}






